<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Koi</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Koi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/desktop/">Desktop Agent</a>
                    </li>
                    <li>
                        <a href="#">Server Agent</a>
                    </li>
                    <li>
                        <a href="#">Android Agent</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
</body>
</html>