{% extends 'base.html' %}
{% block title %}Calls{% endblock title %}
{% block content %}
<table class="table table-striped">
    <thead>
        <th>Call Id</th>
        <th>Desktop Reports</th>
        <th>Server Reports</th>
        <th>Android Reports</th>
        <th>Last Report</th>
    </thead>
    <tbody>
            {% for call in calls %}
                <tr>
                    <td><a href="{% url 'call' call.id %}">{{ call.id }}</a></td>
                    <td>{{ call.desktop_count|add:call.traceroute_count }}</td>
                    <td>{{ call.server_count }}</a></td>
                    <td>{{ call.android_count }}</td>
                    <td>{{ call.most_recent_report_time }}</td>
                </tr>
	    {% empty %}
                <tr><td rowspan="5">No call data found</td></tr>
            {% endfor %}
    </tbody>
</table>
{% endblock content %}
